# Java
target/
build/

# IDE
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Maven Wrapper
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# Env & Secrets
application.yml
application.properties
.env
*.env

# Test / Coverage
test-output/
coverage/
jacoco.exec

# Others
*~
**/.keep
HELP.md
